@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.text-gradient {
    background-image: linear-gradient(to right, blue, aqua,blue); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}
.ball-gradient{
    background: linear-gradient(to right, blue, aqua);
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.gradient{
    background: linear-gradient(to right, blue, aqua);
}
.gradient:hover{
    background: linear-gradient(to right, aqua, blue);
}

.gradient-underline {
    cursor: pointer;
    position: relative;
    display: inline-block; /* To ensure the underline matches the text width */
    color: black; /* Text color */
}

.gradient-underline:hover,
.gradient-underline.active{
      background-image: linear-gradient(to right, blue, aqua); 
      -webkit-background-clip: text; 
      background-clip: text; 
      color: transparent; 
  }
  .gradient-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px; 
    width: 0; 
    height: 3px; 
    background: linear-gradient(to right, blue, aqua, blue);
    background-size: 200%; 
    transition: width .2s linear;
  }
  
  .gradient-underline:hover::after {
    width: 100%; 
  }
  
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }